<div class="card">
<div class="card-body">
<h2 class="card-title">Rare Books</h2>
<ul class="card-text">
    <li>Pre-1801 European and pre-1820 American printed books</li>
    <li>19th-century English illustrated books</li>
    <li>The Elzevier Collection of about 700 volumes from the printing offices of the Elzevier family, which flourished in the Dutch Republic between 1583 and 1702</li>
    <li>The O'Reilly Collection of more than 500 French plays, chiefly from the 1775-99 period (described in French Theatrical Works, 1650-1803 [Albany, NY: University Libraries, 1990])</li>
    <li><a href="http://libguides.library.albany.edu/mesoamericancodices">Library Guide to the University Libraries' Mesoamerican codices collection</a></li>
        <ul><li><a href="http://libguides.library.albany.edu/c.php?g=537330&p=3677842s">Listing of facsimile reproductions of Mesoamerican codices</a></li></ul>
    <li>The Mordecai Kosover Collection of Judaica materials from 1584-1850 (described in Kosover Collection of Judaica, 1545-1850 [Albany, NY: University Libraries, 1993])</li>
    <li>Substantively annotated books from the libraries of individuals whose papers are part of the Department's archival manuscript collections, particularly individuals from the German and Jewish Intellectual Émigré Collection.</li>
    <li>Ephemeral collections include European and American political pamphlets, propaganda, and other ephemeral publications on radical thought, socialism, communism, fascism, and other ideologies mostly from the 20th century; business history collection consisting of pamphlets, trade catalogs, ephemeral publications, and other materials pertaining to United States business history and practices since the nineteenth century, including American railroads, New York State business and industry, accounting, shorthand, expositions, and other subjects.</li>
</ul>
</div>
</div>

