<table align="center" width="250">
	<tbody>
		<tr>
			<td>
				<img alt="Large Letters for the Little Ones, Edmund Evans" border="2" height="300" src="https://archives.albany.edu/web/img/childrens.jpg" width="180" /></td>
		</tr>
		<tr>
			<td>
				<small><em>Large Letters for the Little Ones</em>, Edmund Evans, 1865?</small></td>
		</tr>
	</tbody>
</table>

<div class="col-md-10 col-md-offset-1">
<p><a class="anchor" id="Access" name="Access"></a><div class="page-header"><h3>Access to the Mathes Collection</h3></div></p>

<p>Physical access to the Miriam Snow Mathes Historical Children&#39;s Literature Collection is provided in various ways. All materials are available for consultation in the M.E. Grenander Department of Special Collections and Archives Brown Research Room. Some, but not all, materials in good condition may, with special permission, circulate to University at Albany students and faculty for research and classroom use. Items in good condition are also available through interlibrary loan for consultation in a Special Collections Room at the requesting library.</p>
<p>Bibliographic access by known-item searches of authors and titles is available through the <a href="https://search.library.albany.edu/discovery/search?vid=01SUNY_ALB:01SUNY_ALB">University Libraries&#39; online catalog.</a> Also, most materials are cataloged and entered in the RLIN and/or OCLC national databases. Because most fiction for children received very little or cursory subject cataloging in the past, subject access to these older materials through the library&#39;s online system and the national databases is limited. However, the Department maintains a separate in-house, computer-based index for materials in the Mathes Collection. Each book is indexed carefully, using a specially developed vocabulary (reflecting genre, format, types of characters, settings, etc.). Searches also can be done by chronological period, and all search results are sorted by date of origin or publication.</p>
</div>


<br/>

<div class="col-md-10 col-md-offset-1">
<p><a class="anchor" id="Scope" name="Scope"></a><div class="page-header"><h3>Scope and Content</h3></div></p>

<p>The Miriam Snow Mathes Historical Children&#39;s Literature Collection includes over 12,000 children&#39;s books and periodicals published in the 19th century and up to 1960.&nbsp; The collection is strong in the literature of the first half of the 20th century, but there is also extensive coverage of the 19th century, the latter half in particular.&nbsp; There is an especially strong concentration on neglected and forgotten works published in the United States, 1875&ndash;1950. The central purpose of the Mathes Collection is to provide the texts of works that are generally no longer available in children&#39;s library collections today&ndash;and to make them available for historical, literary and cultural study and consultation by scholars, students, teachers, librarians and the interested public. The Mathes Collection is named for Miriam Snow Mathes, Class of &#39;26, who had a continuing interest in the Historical Children&#39;s Literature Collection. Ms. Mathes, who was a lifelong student, librarian, and teacher of children&#39;s literature, established an endowment fund in 1993 to provide continuing support for the collection. Materials for the Miriam Snow Mathes Historical Children&#39;s Literature Collection are acquired in three categories:</p>
<div class="col-lg-10 col-lg-offset-1 col-md-12  col-sm-12 col-xs-12">
<blockquote>
	<p>(1) MATRIX materials, an extensive gathering of obscure and forgotten works that formed the bulk of publishing for children. This is the first priority for acquisitions. Although the Mathes Collection will never include a majority of all the works published in any of the periods covered, the goal is to have enough of this matrix material to provide (a) a fuller documentary context for the historical and critical study of children&#39;s literature, and (b) valuable supplementary documentation for research in social and cultural history. Since children&#39;s literature is not written by children, the style and content of this material reflects by what it offers and what it suppresses the hopes and fears, the values and biases of the adults who were writing, publishing and disseminating literature for children in the Anglo-American tradition. Many of the run-of-the-mill materials in this category (e.g., toy books or miscellanies or series books) were once widely marketed and more widely read than most or much of the material in the next two categories.</p>
	<p>(2) Works by REPRESENTATIVE authors from the periods covered. These works, which fall into a second priority category, arethe ones that are often included in syllabi and reading lists covering the history of children&#39;s literature. They include works which were once widely known but are usually not in children&#39;s libraries today&ndash;although their authors or titles or main characters may still be alluded to (e.g., The Pilgrim&#39;s Progress, Goody Two Shoes, Sandford and Merton, Peter Parley books, Horatio Alger books, Pollyanana, Tom Swift, Uncle Wiggily, etc.). Also included in this category are obsolete kinds of literature that are considered to be typical of certain eras (e.g., chapbooks, dialogues, religious tract publications, Sunday school books, words-of-one-syllable editions, etc.).</p>
	<p>(3) Editions of the CLASSICS of children&#39;s literature. Since these texts are still available in many libraries, this is a third priority category. In this category, emphasis is placed on providing subsequent, variant and adapted editions before 1950.</p>
</blockquote></div>
</div>

<br/>

<div class="col-md-10 col-md-offset-1">
<p><a class="anchor" id="History" name="History"></a><div class="page-header"><h3>History of the Mathes Collection</h3></div></p>

<p>The Miriam Snow Mathes Historical Children&#39;s Literature Collection has its roots in the State College at Albany&#39;s Department of Librarianship established in the late 1920&#39;s. Books donated by the faculty created a small historical children&#39;s literature collection. There was also a small collection of &quot;bad examples,&quot; the so-called Black Star Collection; these items were popular children&#39;s books, especially series books, which were considered to be below an acceptable level of literary quality.</p>
<p>The Mathes Collection grew very slowly, but in the 1960&#39;s and 1970&#39;s, with funds for purchase, and the subsequent inclusion of the Library School library within the University Libraries, the pace of collecting by both gift and purchase accelerated. An important collection of early 19th century children&#39;s books (about 700 volumes, not including subsequent donations in later years) came from the estate of Dr. H. Jackson Davis, a book collector whose son, Jackson Davis, is a Class of &#39;70 library school alumnus.</p>
<p>In the 1980&#39;s grants were obtained for cataloging and promoting the Mathes Collection, which, by then, was part of the M.E. Grenander Department of Special Collections and Archives. A special online thesaurus and a computer-based subject index were developed by David Mitchell, Curator pro bono for the Mathes Collection and former faculty member of the School of Information Science and Policy. In the 1990&#39;s new acquisitions continued by purchase (e.g., children&#39;s books from the 1930&#39;s to the 1950&#39;s featuring African American protagonists) with alumni class monetary donations and by gift (e.g., a prime assortment of early 20th century items from Harriet Dyer Adams, Class of &#39;60). And, most significantly, the collection has received the guarantee of moderate but sustained purchasing power through the generosity of the endowment established by the late Miriam Snow Mathes.</p>
</div>

<br/>

<div class="col-md-10 col-md-offset-1">
<p><a class="anchor" id="Highlights" name="Highlights"></a><div class="page-header"><h3>Some Highlights of the Mathes Collection</h3></div></p>

<p>Certain types of publications and subject areas are emphasized within the Mathes Collection. A search of the current database reveals some examples:</p>
<div class="col-lg-10 col-lg-offset-1 col-md-12  col-sm-12 col-xs-12">
<blockquote>
	GENDER SPECIFIC stories: stories in which boys or girls or boys-and-girls-together are the leading protagonists. These stories, along with FAMILY stories, provide material for the study of gender roles and attitudes. SERIES which, along with ADAPTATIONS AND RETELLINGS, reflect changes in popular culture. Stories depicting MINORITIES (ethnic, racial, religious, etc.) which, along with TRAVEL and PEOPLE OF OTHER LANDS stories, reflect changing and persisting attitudes toward others. FANTASY and ANIMAL stories. HISTORICAL FICTION, BIOGRAPHY and BIOGRAPHICAL FICTION. Works reflecting attitudes about TECHNOLOGY, especially modes of communication and transportation.
	</blockquote>
	</div>
	<div style="clear:both;"></div>
<p>A <a href="http://www.albany.edu/~dlafonde/Africana/UGRRChildren.htm">bibliography</a> of some items dealing with or alluding to the Underground Railroad, ranging from 1856 to 1955, from the Mathes Collection was compiled by graduate assistant Karen Grimwood in 2003 to accompany the exhibit <em>Old Children&#39;s Books As Sources for Black History and Cultural Studies.</em> The items may give some insight into the way children were informed of this subject in the mainstream culture of that period.</p>
<p>A complete list of the Department&#39;s online exhibits including several featuring items from the Mathes Collection is available at the Department&#39;s <a href="{{ site.url }}/exhibits">Exhibits</a> page.</p>
</div>