<div class="card mathes-card">
	<div class="card-body">
		<h1 class="card-title display-4 m-3">Mathes Historical Children's Literature Collection</h1>

		<p class="lead ms-3">The Miriam Snow Mathes Historical Children's Literature Collection includes upwards of 17,000 children's books and periodicals published in the 19th century and up to 1960.</p>

		<div class="text-center">
		<figure class="figure">
			<img src="<%= image_url('childrens.jpg') %>" class="figure-img img-fluid rounded" alt="Cover of Large Letters for the Little Ones, by Edmund Evans, circa 1865">
			<figcaption class="figure-caption"><em>Large Letters for the Little Ones</em>, Edmund Evans, 1865?</figcaption>
		</figure>
		</div>

		<div class="accordion" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Scope and Content
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>The collection is strong in the literature of the first half of the 20th century, but there is also extensive coverage of the 19th century, the latter half in particular. There is an especially strong concentration on neglected and forgotten works published in the United States, 1875-1960. The central purpose of the Mathes Collection is to provide the texts of works that are generally no longer available in children's library collections today-and to make them available for historical, literary and cultural study and consultation by scholars, students, teachers, librarians and the interested public. The collection serves not only research in history of childrens literature, but also in social and cultural history, in publishing history, and in art history (illustration and book design).</p>
		<p>The Mathes Collection is named for Miriam Snow Mathes, Class of 1926, who had a continuing interest in the Historical Children's Literature Collection. Ms. Mathes, who was a lifelong student, librarian, and teacher of children's literature, established an endowment fund in 1993 to provide continuing support for the collection. Materials for the Miriam Snow Mathes Historical Children's Literature Collection are acquired in three categories:</p>
        <div class="col-lg-10 col-lg-offset-1 col-md-12  col-sm-12 col-xs-12">
        <blockquote>
          <p>(1) MATRIX materials, an extensive gathering of obscure and forgotten works that formed the bulk of publishing for children. This is the first priority for acquisitions. Although the Mathes Collection will never include a majority of all the works published in any of the periods covered, the goal is to have enough of this matrix material to provide (a) a fuller documentary context for the historical and critical study of children's literature, and (b) valuable supplementary documentation for research in social and cultural history. Since children's literature is not written by children, the style and content of this material reflects by what it offers and what it suppresses the hopes and fears, the values and biases of the adults who were writing, publishing and disseminating literature for children in the Anglo-American tradition. Many of the run-of-the-mill materials in this category (e.g., toy books or miscellanies or series books) were once widely marketed and more widely read than most or much of the material in the next two categories.</p>
          <p>(2) Works by REPRESENTATIVE authors from the periods covered. These works, which fall into a second priority category, are the ones that are often included in syllabi and reading lists covering the history of children's literature. They include works which were once widely known but are usually not in children's libraries today-although their authors or titles or main characters may still be alluded to (e.g., The Pilgrim's Progress, Goody Two Shoes, Sandford and Merton, Peter Parley books, Horatio Alger books, Pollyanana, Tom Swift, Uncle Wiggily, etc.). Also included in this category are obsolete kinds of literature that are considered to be typical of certain eras (e.g., chapbooks, dialogues, religious tract publications, Sunday school books, words-of-one-syllable editions, etc.).</p>
          <p>(3) Editions of the CLASSICS of children's literature. Since these texts are still available in many libraries, this is a third priority category. In this category, emphasis is placed on providing subsequent, variant and adapted editions before 1960.</p>
        </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        History of the Mathes Collection
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>The Miriam Snow Mathes Historical Children's Literature Collection has its roots in the State College at Albany's Department of Librarianship established in the late 1920s. Books donated by the faculty created a small historical children's literature collection. There was also a small collection of &quot;bad examples,&quot; the so-called Black Star Collection; these items were popular children's books, especially series books, which were considered to be below an acceptable level of literary quality.</p>
        <p>The Mathes Collection grew very slowly, but in the 1960s and 1970s, with funds for purchase, and the subsequent inclusion of the Library School library within the University Libraries, the pace of collecting by both gift and purchase accelerated. An important collection of early 19th century children's books (about 700 volumes, not including subsequent donations in later years) came from the estate of Dr. H. Jackson Davis, a book collector whose son, Jackson Davis, is a Class of 1970 library school alumnus.</p>
        <p>In the 1980s grants were obtained for cataloging and promoting the Mathes Collection, which, by then, was part of the M.E. Grenander Department of Special Collections and Archives. A special online thesaurus and a computer-based subject index were developed by David Mitchell, Curator pro bono for the Mathes Collection and former faculty member of the School of Information Science and Policy. In the 1990s new acquisitions continued by purchase (e.g., children's books from the 1930s to the 1950s featuring African American protagonists) with alumni class monetary donations and by gift (e.g., a prime assortment of early 20th century items from Harriet Dyer Adams, Class of 1960). And, most significantly, the collection has received the guarantee of moderate but sustained purchasing power through the generosity of the endowment established by the late Miriam Snow Mathes.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Some Highlights of the Mathes Collection
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>Certain types of publications and subject areas are emphasized within the Mathes Collection. A search of the current database reveals some examples:</p>
        <div class="col-lg-10 col-lg-offset-1 col-md-12  col-sm-12 col-xs-12">
        <blockquote>
          GENDER SPECIFIC stories: stories in which boys or girls or boys-and-girls-together (ampersand stories) are the leading protagonists. These stories, along with FAMILY stories, provide material for the study of gender roles and attitudes. SERIES which, along with ADAPTATIONS AND RETELLINGS, reflect changes in popular culture. Stories depicting MINORITIES (ethnic, racial, religious, etc.) which, along with TRAVEL and PEOPLE OF OTHER LANDS stories, reflect changing and persisting attitudes toward others. FANTASY and ANIMAL stories. HISTORICAL FICTION, BIOGRAPHY and BIOGRAPHICAL FICTION. Works reflecting attitudes about TECHNOLOGY, especially modes of communication and transportation.
          </blockquote>
          </div>
          <div style="clear:both;"></div>
        <p>A <a href="http://www.albany.edu/~dlafonde/Africana/UGRRChildren.htm">bibliography</a> of some items dealing with or alluding to the Underground Railroad, ranging from 1856 to 1955, from the Mathes Collection was compiled by graduate assistant Karen Grimwood in 2003 to accompany the exhibit <em>Old Children's Books As Sources for Black History and Cultural Studies.</em> The items may give some insight into the way children were informed of this subject in the mainstream culture of that period.</p>
        <p>A complete list of the Department's online exhibits including several featuring items from the Mathes Collection is available at the Department's <a href="{{ site.url }}/exhibits">Exhibits</a> page.</p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Access to the Mathes Collection
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>All materials are available for consultation in the M.E. Grenander Department of Special Collections and Archives Brown Research Room.</p>
        <p>Bibliographic access by known-item searches of authors and titles is available through the University Libraries' online catalog catalog although that does not include a considerable backlog of uncatalogued items. Also, most materials are cataloged and entered in the RLIN and/or OCLC national databases. Because most fiction for children received very little or cursory subject cataloging in the past, subject access to these older materials through the library's online system and the national databases is limited. However, the Department maintains a separate in-house, computer-based index for materials in the Mathes Collection which is now available online and includes all uncatalogued material. New records in the in-house index are added to the online index periodically. Each book is indexed carefully, using a specially developed vocabulary (reflecting genre, format, types of characters, settings, etc.). Searches also can be done by chronological period, and all search results are sorted by date of origin or publication.</p>
      </div>
    </div>
  </div>
</div>


	</div>

</div>

