<div class="card">
        <div class="card-body">
                <h2 class="card-title display-4 mt-3 ml-3">Political Pamphlets</h2>

		<p class="lead ml-3">The department holds an artificial collection of more than 2,000 political pamphlets, dating predominantly from the 20th century, and originating from the United States, Europe, and Asia.</p>

                <p class="card-text">
			<ul>
				<li>Topics discussed include labor rights, socialism, communism, racism, fascism, the arms race, conditions in prison, war, economics, and womens rights.</li>
				<li>Many of these materials were extracted from German and Jewish Intellectual Émigré manuscript collections, a by-gone practice that unfortunately removed them from much of their original context and use. The collection was also added to over time, so pamphlets also come from other sources.</li>
			</ul>
		</p>
        </div>

</div>
