<div class="card">
        <div class="card-body">
                <h2 class="card-title">Political Pamphlets</h2>

                <p class="card-text">
			This is an artificial collection of rare pamphlets on a wide variety of political topics. Originally, many of these materials were extracted from the German and Jewish Intellectual Émigré manuscript collections, a practice that unfortunately removed them from much of their original context and use. The collection was also added to over time, so many of the pamphlets also come from other sources. 
		</p>
        </div>

</div>
