/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 *
 * Used by blacklight_range_limit
 *= require  'font-awesome'
 *= require  'blacklight_range_limit'
 *= require  'grenander/main'
 *= require  'grenander/navbar'
 *= require  'grenander/search-source'
 *= require  'grenander/footer'
 *= require  'grenander/mathes'
 *
*/


.access-card {
	margin-top: 2rem;
}

@media (min-width: 992px) {
	.access-card {
		margin-top: 4.5rem;
	}
}


#document dd a {
	display: table;
}

#document > div > h1 {
	font-size: 2rem;
}

#document dd.blacklight-subject_ssim {
  font-size:0;
}
#document dd.blacklight-subject_ssim a {
  font-size:initial;
}
#document dd.blacklight-genre_form_ssim {
  font-size:0;
}
#document dd.blacklight-genre_form_ssim a {
  font-size:initial;
}
#document dd.blacklight-persname_ssim {
  font-size:0;
}
#document dd.blacklight-persname_ssim a {
  font-size:initial;
}
#document dd.blacklight-corpname_ssim {
  font-size:0;
}
#document dd.blacklight-corpname_ssim a {
  font-size:initial;
}
#document dd.blacklight-topic_term_ssim {
  font-size:0;
}
#document dd.blacklight-topic_term_ssim a {
  font-size:initial;
}
#document dd.blacklight-chronological_term_ssim {
  font-size:0;
}
#document dd.blacklight-chronological_term_ssim a {
  font-size:initial;
}
#document dd.blacklight-geographic_term_ssim {
  font-size:0;
}
#document dd.blacklight-geographic_term_ssim a {
  font-size:initial;
}
#document dd.blacklight-title_term_ssim {
  font-size:0;
}
#document dd.blacklight-title_term_ssim a {
  font-size:initial;
}

.blacklight-title_tesim {
  display: none;
}


.mathes-card .card-body figure img {
	width: 250px;
}


.mathes-card .card-header {
	cursor: pointer;
	border-bottom: none;
}

.mathes-card .card-header a:not(.collapsed) .rotate-icon {
	transform: rotate(180deg);
}

.mathes-card .card-header:hover {
	border-top-color: #eaaa00 !important;
	border-bottom-color: #eaaa00 !important;
	border-left-color: #eaaa00 !important;
	border-right-color: #eaaa00 !important;
	background-color: #f8e1a5 !important;
}
